<<<<<<< HEAD
header {
    background-color:#FF0000;
    height: 70px;
    width: 100%;
=======
header {
    background-color:#FF0000;
    height: 70px;
    width: 100%;
>>>>>>> 96f37f4bfc50b8ba8925057cc09bc0d7bc47a0b6
}