<<<<<<< HEAD
footer {
    background-color: white;
    color: #888888;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

footer p {
    text-align: center;
    line-height: 30px;
=======
footer {
    background-color: white;
    color: #888888;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

footer p {
    text-align: center;
    line-height: 30px;
>>>>>>> 96f37f4bfc50b8ba8925057cc09bc0d7bc47a0b6
}