<<<<<<< HEAD
body{
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body .container{
    max-width: 1000px;
    margin: 30px auto;
=======
body{
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

body .container{
    max-width: 1000px;
    margin: 30px auto;
>>>>>>> 96f37f4bfc50b8ba8925057cc09bc0d7bc47a0b6
}