.filter {
    margin-top: 20px;
    position: relative;
}

.popover {
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.filter:hover .popover {
    display: block;
}

.popover ul {
    list-style: none;
    padding: 0;
}

.popover ul li {
    padding: 8px;
    cursor: pointer;
}

.popover ul li:hover {
    background-color: #EAEAEA;
}