.places {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    width: calc(33.33% - 20px);
    margin: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
    text-align: center;
}